extends ../_layout--detail
block content
  article.article
    div.img--is-in-background
      img(class="img--is-in-background__img" src="/assets/images/waves-480.jpg"
          srcset="/assets/images/waves-480.jpg 480w, /assets/images/waves-720.jpg 720w, /assets/images/waves-1440.jpg 1440w, /assets/images/waves-1920.jpg 1920w")
      div.img--is-in-background__content
        h1 TYPO Berlin 2015
        span.heading-sub My top five moments
    header.article__header
      img(class="img--is-rounded" src="/assets/images/author.jpg")
      p.meta
        a(class="link--has-no-underline" href="" rel="author") Author 
        |  wrote this 
        time(datetime="2015-08-28") one day ago
      a(class="link-icon icon-twitter" href="/")
      a(class="link-icon icon-facebook" href="/")
    hr
    p If you are a #[a(href="#") designer], you certainly know TypoBerlin. 57 lectures, 11 workshops, 1650 participants, 42 nations, spread across 3 days. And this year was its 20 birthday. Pretty impressive, isn’t it? As you can imagine, it’s impossible to see all this talks in such a short time. But, here my top 5 moment from the conference.
    h2 The Sofie Beier’s research (and the positive emotions)
    p I may be stupid, but I never thought about that. There are, outhere, some graphic designer-researcher. And when you have the 
      a(href="/") opportunity
      |  to listen to this people, you may discover something incredible, like: if your design stimulates positive emotion then your user will be take the safe choice and might not want to change to your product. Seriously, life chaning. As a worker in a startup enviroment I’m always in the situation where I put to user in front of some brave decision: don’t trust the past, believe in future. 
    figure
      img(class="el--is-oversized" src="/assets/images/waves-480.jpg"
          srcset="/assets/images/waves-480.jpg 480w, /assets/images/waves-720.jpg 720w, /assets/images/waves-1440.jpg 1440w, /assets/images/waves-1920.jpg 1920w"
          sizes="(min-width: 900px) 900px, 100vw"
      )
      figcaption
        p Caption of this regular image <cite>©Philipp Photo</cite>
    h3 You can buld the joy with 
    p He can make benchs funny. He wants to listen your heart, or some music on a tree. He was completly positive and humble all the time on the stage, was impossible don’t smile. And the most important things: if your goal is make the people happier, you can do whatever you want. Even kiss a stranger under a chrismas-drone.
    figure
      img(src="/assets/images/upright.jpg"
          srcset=""
          sizes="(min-width: 740px) calc(100vw-46px), (min-width: 796px) 750px, 100vw"
      )
      figcaption
        p Caption of this regular image <cite>©Philipp Photo</cite>
    h4                The Sofie Beier’s research (and the positive emotions)
    p So, TypoBerlin is not cheap. For sure. But there is a well-keept secret that I want to share with you. There is a 
      a(href="/") free stage
      | , and is so good. Was mostly young people, several berliners, talking on a little stage… but the quality was so good and remarkable. Was Harry Keller, who was talking about dygital myths and the evolution of the rule of the agency. Was Nina Stössinger, with her brand new “reversed contrast” typeface, Marlene Schufferth and the different workflow between an agency and a startup and, of course, Jamie Neely from Typecast. So all this fantastic topic for free. Isn’t it great?            

    ol
      li list point 1
      li list point 2
      li list point 3
        ol
          li nested list point 3.1
          li nested list point 3.2
          li nested list point 3.3
      li list point 4
      li list point 5

    p So, TypoBerlin is not cheap. For sure. But there is a well-keept secret that I want to share with you. There is a free stage, and is so good. Was mostly young people, several berliners, talking on a little stage… but the quality was so good and remarkable. Was Harry Keller, who was talking about dygital myths and the evolution of the rule of the agency. Was Nina Stössinger, with her brand new “reversed contrast” typeface, Marlene Schufferth and the different workflow between an agency and a startup and, of course, Jamie Neely from Typecast. So all this fantastic topic for free. Isn’t it great?            

    blockquote(cite="" class="blockquote")
      p(class="blockquote__p") @lnwdr connect them with your lightning cable, new video recording and next to the record button is a tiny arrow where you can select devices.
      footer(class="blockquote__footer") — @verpixelt (Kevin Lorenz)

    p So, TypoBerlin is not cheap. <code>For sure. But there is a well-keept secret that I want to share with you.</code> There is a free stage, and is so good. Was mostly young people, several berliners, talking on a little stage… but the quality was so good and remarkable. Was Harry Keller, who was talking about dygital myths and the evolution of the rule of the agency. Was Nina Stössinger, with her brand new “reversed contrast” typeface, Marlene Schufferth and the different workflow between an agency and a startup and, of course, Jamie Neely from Typecast. So all this fantastic topic for free. Isn’t it great?            

    figure
      img(class="img--is-stretched-100vw" src="/assets/images/waves-480.jpg"
          srcset="/assets/images/waves-480.jpg 480w, /assets/images/waves-720.jpg 720w, /assets/images/waves-1440.jpg 1440w, /assets/images/waves-1920.jpg 1920w")
      figcaption
        p Caption of this regular image <cite>©Philipp Photo</cite>
    p So, TypoBerlin is not cheap. For sure. But there is a well-keept secret that I want to share with you. There is a free stage, and is so good. Was mostly young people, several berliners, talking on a little stage… but the quality was so good and remarkable. Was Harry Keller, who was talking about dygital myths and the evolution of the rule of the agency. Was Nina Stössinger, with her brand new “reversed contrast” typeface, Marlene Schufferth and the different workflow between an agency and a startup and, of course, Jamie Neely from Typecast. So all this fantastic topic for free. Isn’t it great?            
    ul
      li Don’t complain, make it better
      li Push to be better 
      li Start from the heart 
      li Yes mean yes
    pre.line-numbers.el--is-oversized
      code.language-scss
        :code
          html {
            background-color: $project-base-background-color;
            color: $project-base-color;
            -webkit-font-size-adjust: 100%;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            min-height: 100%;
            overflow-x: hidden;
            overflow-y: scroll; //comment
          }
    pre.line-numbers.el--is-oversized
      code.language-javascript
        :code
          function errorHandler(label) {
            return function handleError(error) {
              gutil.log(gutil.colors.red(label + ' error:'), error.message);
              this.emit('end');
            };
          }
    pre.line-numbers.el--is-oversized
      code.language-html
        :code
          <!DOCTYPE html>
          <htlml>
            <head>
              <link rel="stylesheet" type="text/css" href="normalize.css">
              <link rel="stylesheet" type="text/css" href="style.css">
            </head>
            <body>
              <div class="left">
                <img src="img/left2x.png">
              </div>
              <div class="right"></div>
            </body>
          </html>

  hr.text-on-hr
  .grid--custom-100vw
    .grid--custom-100vw__inner
      .media.teaser
        a.media__a.teaser__a(href="/")
          img.media__img(src="/assets/images/media-image.png")
        .media__body.teaser__body
          h1 My First Day At HitFox
          span.heading-sub Subheadline goes here
        .media.teaser__footer
          img(class="img--is-rounded" src="/assets/images/author.jpg")
          p.meta posted yesterday
      .media.teaser
        a.media__a.teaser__a(href="/")
          img.media__img(src="/assets/images/media-image.png")
        .media__body.teaser__body
          h1 My First Day At HitFox
          span.heading-sub Subheadline goes here
        .media.teaser__footer
          img(class="img--is-rounded" src="/assets/images/author.jpg")
          p.meta posted yesterday
      .media.teaser
        a.media__a.teaser__a(href="/")
          img.media__img(src="/assets/images/media-image.png")
        .media__body.teaser__body
          h1 My First Day At HitFox
          span.heading-sub Subheadline goes here
        .media.teaser__footer
          img(class="img--is-rounded" src="/assets/images/author.jpg")
          p.meta posted yesterday
      .media.teaser
        a.media__a.teaser__a(href="/")
          img.media__img(src="/assets/images/media-image.png")
        .media__body.teaser__body
          h1 My First Day At HitFox
          span.heading-sub Subheadline goes here
        .media.teaser__footer
          img(class="img--is-rounded" src="/assets/images/author.jpg")
          p.meta posted yesterday
      .media.teaser
        a.media__a.teaser__a(href="/")
          img.media__img(src="/assets/images/media-image.png")
        .media__body.teaser__body
          h1 My First Day At HitFox
          span.heading-sub Subheadline goes here
        .media.teaser__footer
          img(class="img--is-rounded" src="/assets/images/author.jpg")
          p.meta posted yesterday
